.introduction {
    padding-top: 16px;
    padding-left: 40px;
    font-size: 16px;
    background-color: var(--tds-white);
    :global(.tds-mode-dark) & {
      background-color: var(--tds-grey-900);
    }
  
    &__heading {
      margin-top: 16px;
      padding-bottom: 16px;
      font-size: 32px;
    }
  
    &__description {
      max-width: 500px;
    }
  }