.edgeLabel{
    position: absolute;
    background: #fff;
    padding: 10;
    border-radius: 5;
    font-size: 12;
    font-weight: 700;
    :global(.tds-mode-dark) & {
        background-color: var(--tds-grey-900);
        color: #fff;
    }
}

.endMarker{
    stroke: #0d0f13;
    fill: #0d0f13;
    stroke-width: 1;
    :global(.tds-mode-dark) & {
        stroke: white;
    }    
}

.disconnect {
    position: absolute;
    padding: 5px;
    cursor: pointer;
    pointer-events: all;
    color: var(--tds-negative);
    background: white;
    :global(.tds-mode-dark) & {
        background-color: var(--tds-grey-900);
    }
}