@import "../../styles/variables.scss";

.nav {
  background: white;
  padding: 6px 24px;
  height: 52px;
  display: flex;
  align-items: center;
}

.main {

  & hr{
    border: none;
    background: #DBDFE6;
    height: 1px;
  }

}

.action {

}

.headerContainer {
  padding: 16px 24px;

  &__detailsContainer{
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
}

.outerContentContainer{
  padding: 24px;
  background: #F9FAFB;
}

.contentContainer{
  padding: 32px;
  background: white;

  & hr{
    border: none;
    background: #DBDFE6;
    height: 1px;
    margin-top: 16px;
  }

  &__parameterContainer{
    display: flex;
    gap: 16px;
    margin-bottom: 24px;
    align-items: flex-end;

    &__saveBtn{
      // Hack for tegel since they have a 4px height error container always visible =/
      margin-bottom: 4px;
    }
  }
  
  &__parameterChoice{
    display: flex;
    gap: 8px;
    padding: 24px 0px;
  }
}

.footerContainer{
  display: flex;
  justify-content: flex-end;
  padding: 24px 0px;
}

.footerContainer{
  display: flex;
  justify-content: flex-end;
  padding: 24px 0px;
}
