@import "../../styles/variables.scss";

.nav {
  background: white;
  padding: 6px 24px;
  height: 52px;
  display: flex;
  align-items: center;
}

.main {
  & hr {
    border: none;
    background: #dbdfe6;
    height: 1px;
  }
}

.headerContainer {
  padding: 16px 24px;
  :global(.tds-mode-dark) & {
    background-color: var(--tds-grey-900);
  }

  &__detailsContainer {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
}

.outerContentContainer {
  padding: 24px;
  background: #f9fafb;
  :global(.tds-mode-dark) & {
    background-color: var(--tds-grey-958);
  }
}

.contentContainer {
  padding: 32px;
  background: white;
  :global(.tds-mode-dark) & {
    background-color: var(--tds-grey-900);
  }

  & hr {
    border: none;
    background: #dbdfe6;
    height: 1px;
    margin-top: 16px;
  }

  &__parameterContainer {
    display: flex;
    gap: 16px;
    margin-bottom: 24px;
    align-items: flex-end;

    &__saveBtn {
      // Hack for tegel since they have a 4px height error container always visible =/
      margin-bottom: 4px;
    }
  }

  &__parameterChoice {
    display: flex;
    gap: 8px;
    padding: 24px 0px;
  }
}

.footerContainer {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  align-items: center;
  padding: 24px 0px;
}

.table{
  width: 100%;
  border-collapse: collapse;
  

  &__header{
    background-color: var(--tds-grey-300);
    color: #0D0F13;
    text-align: left;
    :global(.tds-mode-dark) & {
      background-color: var(--tds-grey-900);
      color: #fff;
    }

    & th{
      padding: 16px;
      border-right: 1px solid var(--tds-grey-400, #CDD1DB);
      border-bottom: 1px solid var(--tds-grey-400, #CDD1DB);
    }
  }

  &__body{
    background-color: var(--tds-grey-50);
    color: #0D0F13;
    text-align: left;
    :global(.tds-mode-dark) & {
      background-color: var(--tds-grey-958);
      color: #fff;
    }

    & td{
      padding: 16px;
      border-right: 1px solid var(--tds-grey-400, #CDD1DB);
      border-bottom: 1px solid var(--tds-grey-400, #CDD1DB);
    }
  }
}