.login {
  display: flex;
  height: 95vh;

  &__title {
    font-size: 20px;
  }

  &__leftPane {
    width: 337px;
    gap: 16px;
    display: flex;
    flex-direction: column;
    padding: 40px 16px 16px 16px;
    :global(.tds-mode-dark) & {
      background-color: var(--tds-grey-900);
    }

    &__link {
      text-decoration-line: underline;
      :global(.tds-mode-dark) & {
        color: var(--grey-50, #f9fafb);
      }
    }

    &__bottom {
      padding-bottom: 16px;
      display: flex;
      flex-direction: column;
      justify-content: end;
      flex-grow: 1;
    }
  }

  &__rightPane {
    flex: 1;
    background-image: url("/login.webp");
    background-size: cover;
    background-position: center;
    padding: 40px;
    :global(.tds-mode-dark) & {
      background: linear-gradient(rgba(36, 42, 51, 0.6), rgba(36, 42, 51, 0.6)),
        url("/login.webp");
      background-size: cover;
      background-position: center;
    }

    &__text {
      width: 60%;
      gap: 24px;
      display: flex;
      flex-direction: column;
    }
  }
}
