.tabs {
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid #ddd;

}

.tab {
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  color: var(--tds-grey-900);
  opacity: .6;
  padding: 16px;
  margin-left: 8px;
  line-height: 16px;
}

.active {
  border-bottom: 2px solid #1976d2;
  opacity: 1;
}