$default-color: var(--tds-grey-900);
$light-color: #aaa;
$transition-time: 0.2s;
$border-color-light: var(--tds-grey-300);
$border-color-dark: var(--tds-grey-900);
$selected-border-color: var(--tds-blue-700);

.tab {
  width: 100%;
  color: $default-color;
  border-bottom: 1px solid $border-color-light;

  :global(.tds-mode-dark) & {
    border-bottom: 1px solid $border-color-dark;
  }
}

ul.inline {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;

  li {
    display: inline-block;
    margin-left: 0;
    padding: 22px;
    // transition: all $transition-time;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; /* 114.286% */
    letter-spacing: -0.14px;
    cursor: pointer;
    color: $default-color;
    opacity: 0.6;
  }

  li.selected {
    border-bottom: 2px solid $selected-border-color;
    opacity: 1;
  }

  :global(.tds-mode-dark) & {
    li {
      color: var(--tds-grey-300);
    }

    li.selected {
      border-bottom: 2px solid var(--tds-blue-300);
    }
  }
}
