@import url("https://cdn.digitaldesign.scania.com/icons/webfont/css/sdds-icons.css");
@import url("./reset.css");
@import url("./utility.css");
@import url("./reactFlowOverrides.css");
@import url("@scania/tegel/dist/tegel/tegel.css");
/* below taken from https://github.com/scania-digital-design-system/tegel-react-demo*/
html,
body,
#root {
  height: 100%;
}

.App.tds-mode-dark {
  color: var(--tds-grey-100);
  background-color: var(--tds-grey-958);
}

.App.tds-mode-dark.tds-mode-primary {
  color: var(--tds-grey-100);
  background-color: var(--tds-grey-958);
}
.App.tds-mode-dark.tds-mode-secondary {
  color: var(--tds-grey-100);
  background-color: var(--tds-grey-900);
}

.header-container {
  position: sticky;
  top: 0;
  z-index: 900;
}

.side-menu-and-main {
  display: flex;
  flex-grow: 1;
}

.pointer {
  cursor: pointer;
}

.tooltip-paragraph b,
i {
  padding: 0 2px;
}

.popover-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.opaque-35 {
  opacity: 0.35;
}

.bold {
  font-weight: bold;
}

.mobile-nav-item {
  display: none;
}

@media screen and (max-width: 992px) {
  .mobile-nav-item {
    display: block;
  }
}
