/*
    Add here all rules you repeat more then once in a code so we cna move them later on in tegel's utility classes
*/

.tds-u-flex-end {
  display: flex;
  justify-content: flex-end;
}

.tds-u-flex-start {
  display: flex;
  justify-content: flex-start;
}

.tds-u-flex-center {
  justify-content: space-between;
  align-items: center;
}

.tds-u-flex-dir-col {
  flex-direction: column;
}

.tds-u-flex-gap-1 {
  gap: 8px;
}

.ellipsis {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}