@import "../../styles/variables";

.main {
  padding: 36px 24px 44px 24px;
  max-width: $page-max-width;
  margin-right: auto;
  margin-left: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  &__project {
    &-heading {
    }

    &-summary {
      margin-top: 16px;
    }
  }
}

.content {
  margin-top: 16px;
}
