.content {
  background-color: var(--tds-grey-50);
  :global(.tds-mode-dark) & {
    background-color: var(--tds-black);
  }

  &__headingContent {
    padding-top: 16px;
    padding-left: 40px;
    font-size: 24px;
  }

  &__main {
    &__buttons {
      padding-top: 32px;
      padding-bottom: 40px;
      padding-left: 40px;
      font-size: 14px;
      display: flex;
      gap: 24px;
      background-color: var(--tds-white);
      :global(.tds-mode-dark) & {
        background-color: var(--tds-grey-900);
      }
    }
    &__cards {
      margin-top: 16px;
      margin-left: 40px;
      padding-bottom: 40px;
      display: flex;
      align-items: flex-start;
      align-content: flex-start;
      gap: 22px;
      align-self: stretch;
      flex-wrap: wrap;
    }
    &__line {
      padding-right: 24px;
      margin-left: 24px;
    }
  }
}
