.body {
    &__parameterContainer {
      display: flex;
      align-items: flex-end;
      gap: 12px;
      max-width: 400px;
      margin: 12px 0px 48px 0px;

      &__dropdown{
        flex: 1;
      }
    }
}

.action {
  display: flex;
  gap: 10px;
}