.header {
  &:hover {
    cursor: pointer;
  }
  padding: 8px 0px;
  display: flex;
  font-weight: 700;
  align-items: center;
  justify-content: space-between;

  &__label {
    margin-left: 12px;
  }

  &__icon{

    &__opened{
      color: black;
    }

    &__closed{
      color: grey;
    }
  }
}

.children {
  margin-left: 24px;
}
