.page {
  &__header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__heading {
    }
  }

  &__main {
    display: flex;

    .sidebar {
      width: 450px;
      padding: 20px;

      &__primaryHeading {
        // color: #222;
        font-size: 22px;
        padding-bottom: 6px;
      }

      &__secondaryHeading {
        // color: #444;
        font-size: 17px;
      }

      &__description {
        // color: #666;
        font-size: 16px;
        padding-bottom: 10px;
      }

      &__tabs {
      }

      &__chips {
      }
    }

    .graph__canvas {
      flex-grow: 1;
      padding: 20px;

      .reactflow-wrapper {
        background-color: #fff;
        border: 1px solid #ccc;
      }
    }
  }

  .chips {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    max-height: calc(100vh - 300px);
    overflow: auto;
  }
}

.toast__absolute {
  position: fixed;
  right: 10px;
  bottom: 32px;
}

.form {
  position: absolute;
  width: 309px;
  top: 10px;
  right: 10px;
  background-color: var(--tds-white);
  overflow: auto;
  max-height: calc(100vh - 200px);
  padding: 10px;
  border-radius: 5px;

  :global(.tds-mode-dark) & {
    background-color: var(--tds-grey-958);
  }
}
