.page {
  &__header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    box-shadow: 0px 3px 3px 0px #00000026;

    &__back {
      margin-right: 10px;
    }

  

    &__action {
      margin-left: 20px;
      cursor: pointer;
    }
  }

  &__main {
    display: flex;
    position: relative;

    .sidebar {
      overflow: auto;
      width: 360px;
      margin: 20px;
      border-radius: 4px;
      top: 10px;
      left: 10px;
      position: absolute;
      background: white;
      z-index: 1;
      max-height: calc(-200px + 100vh);
      box-shadow: 0px 3px 3px 0px #00000026;

      &__header {
        padding: 16px 16px 24px 16px;
      }

      &__primaryHeading {
        font-size: 22px;
        margin-bottom: 8px;
      }

      &__type_and_toggle {
        display: flex;
        justify-content: space-between;
        margin-bottom: 8px;
      }

      &__secondaryHeading {
        margin-bottom: 16px;
      }

      &__description {
        // color: #666;
        font-size: 16px;
      }

      &__chips {
        padding: 16px 16px 0px 16px;
      }

      &__tabs {
      }

      &__search {
        padding: 16px;
      }
    }

    .graph__canvas {
      flex-grow: 1;
      padding: 20px;

      .reactflow-wrapper {
        background-color: #fff;
        border: 1px solid #ccc;
      }
    }
  }

  .classes {
    max-height: calc(390px);
    overflow: auto;

    .active__chip {
      background: var(--tds-blue-50);
    }

    .inactive__chip {
      background: var(--tds-grey-50);
    }

    .active__container {
      background: var(--tds-blue-400);
      color: white;
    }

    &__footer {
      background: white;
      padding: 16px 0px;
      text-align: right;
      width: 100%;
      position: sticky;
      bottom: 0px;
    }

    &__class {
      display: flex;
      height: 40px;
      border-radius: 4px;
      cursor: pointer;
      margin-bottom: 4px;
      align-items: center;

      &:hover {
        background: var(--tds-grey-100);
      }

      &__content {
        display: flex;
        align-items: center;

        &__label {
          padding: 0px 8px;
        }

        &__icon {
          display: flex;
          justify-content: center;
          height: 40px;
          width: 20px;
          align-items: center;
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px;
        }
      }
    }
  }
}
.setup-button {
  position: absolute;
  bottom: 12%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.label-input {
  background-color: transparent;
  font-family: "Scania Sans", arial, helvetica, sans-serif;
  font-weight: bold;
  font-size: 0.875rem;
  line-height: 1.5;
  letter-spacing: -0.02em;
  border: none;
  &:focus {
    outline: none;
    border-bottom: 1px solid var(--tds-grey-600);
    .confirm-icon {
      color: red;
      border-bottom: 1px solid var(--tds-grey-600);
    }
  }
}

.form {
  position: absolute;
  width: 360px;
  top: 10px;
  right: 10px;
  background-color: var(--tds-white);
  overflow: auto;
  max-height: calc(100vh - 200px);
  border-radius: 4px;
  box-shadow: 0px 3px 3px 0px #00000026;

  &-header {
    background-color: var(--tds-grey-200);
    display: flex;
    padding: 24px 16px;
    justify-content: space-between;
    align-items: center;

    &:hover {
      .description__label .edit-icon {
        display: inline;
      }
    }
    .description {
      &__name {
        font-family: "Scania Sans CY Semi Condensed";
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px; /* 133.333% */
        text-transform: uppercase;
      }
      &__label {
        .edit-icon {
          display: none;
        }
      }
    }
  }

  &-body-section {
    padding: 16px;

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 16px;
    }

    &__form {
      display: flex;
      flex-direction: column;
      gap: 16px;

      &-field {
        display: block;
        margin-bottom: 10px;
      }
    }
  }
m
  &-button-container {
    text-align: center;

    &__button {
      padding: 10px 20px;
      margin: 5px;
      cursor: pointer;
    }
  }

  :global(.tds-mode-dark) & {
    background-color: var(--tds-grey-958);
  }

  &__action-menu{
    display: flex;
    gap: 16px;
    margin-top: 34px;
  }
}
